html, body{
    margin: 0;
    padding: 0;
    background-image: url("../Media/grayWood.jpg");
}
*{
    box-sizing: border-box;
}

header{
    margin-top: -1em;
    background-image: url("../Media/golden-wood.jpg");
}
header form{
    display: inline-block;
    float: left;
    margin-top: 10%;
    margin-left: 20%;
}
footer {
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 4em;
    padding: 2em;
    width: 100%;
    background-color: gray;
    color: white;
}
#covidInfo{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

 header nav form ul li:hover{
   background-color: #72706d;
}

#IG_picture{
float: left;
    margin: 2%;;
    padding: 2%;
    width: 15%;
}
#IG_picture:hover{
    width: 30%;
}

@media (max-width: 576px ) {
    header form{
        margin-left: 10%;
    }
    header form button{
        margin-top: -0.4em;
    ;
    }
    #IG_picture{
        width: 20%;
    }
    header nav img{
        display: none;
    }
    header nav ul,li{
        margin-right:18em;
        width: 100%;
    }


}
ul, li{
    text-align: center;
}
