main{
    color: lightgray;
    margin-bottom: 15em;
}



section{
padding-top: 5em;
    margin-bottom: 3em;
}
.images{
   padding-left: 1.2em;
}
aside form label{
    display: block;
}
.blog{
    font-size: 1.1em;
}

.cards{
    margin-bottom: 1em;
}
.card-img-top{
    height: 60%;
}